@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
body {
    font-family: 'Share Tech', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images/freepik__adjust__53822.png') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
}

.home {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .home:hover {
    background-color: #333;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 70%;
    grid-template-areas: 
    "   item1    item3   "
    "   item2    item3   "
    ;
}
.top-left {
    grid-area: item1;
}
.bottom-left {
    grid-area: item2;
}
.right {
    grid-area: item3;
}

.section {
    padding: 20px;
    border-radius: 15px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
}

.section:hover {
    background-color: #3c3c3c;
    transform: translateY(-10px);
    transition-duration: 1s;
}


h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

@media (max-width: 780px) {
    .container {
        grid-template-columns: 1fr; 
        gap: 20px; 
        width: 90%;
        margin-top: 120px;
        grid-template-areas: 
        "item1"
        "item2"
        "item3";
    }
    .section {
        width: 90%; 
    }
}
