@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('images/freepik__adjust__53822.png') no-repeat center center fixed;
    background-size: cover;
}
.wrapper {
    padding: 35px 40px;
    border-radius: 20px;
    background: #8f1e1e;
    position: relative;
    animation: fly 2.5s ease-in;
    transition: all 500ms ease;
    overflow: hidden;

    box-shadow: 0 0 10px 5px rgba(255, 105, 135, 0.3), 
                0 0 20px 10px rgba(255, 195, 113, 0.2), 
                0 0 30px 15px rgba(244, 67, 54, 0.1);
    
}

.wrapper:hover {
    transform: translateY(-10px);
    transition-duration: 1s;
    box-shadow: 0 0 15px 8px rgba(255, 105, 135, 0.4), 
                0 0 30px 15px rgba(255, 195, 113, 0.3), 
                0 0 40px 20px rgba(244, 67, 54, 0.2);
}

@keyframes fly {
    0% {
        transform: translateY(50%)
    }
    100% {
        transform: translateY(0%)
    }
}
.wrapper header {
    display: flex;
    color: #b2b2b2;
    align-items: center;
    justify-content: space-between;
}
header h2 {
    font-size: 2rem;
    position: relative;
}

header h2 .flipping-text {
    display: inline-block;
    perspective: 1000px;
    color: #b2b2b2;
    font-weight: bold;
}

header h2 .flipping-text span {
    display: inline-block;
    transform-origin: center;
    backface-visibility: hidden;
    animation: flip 1.5s infinite;
}

@keyframes flip {
    0% {
        transform: rotateX(0);
        opacity: 1;
    }
    50% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

header .column {
    display: flex;
    align-items: center;
}
header span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}
header input {
    outline: none;
    border-radius: 30px;
}
.volume-slider input {
    accent-color: #fff;
}
.keys-checkbox input {
    height: 30px;
    width: 60px;
    cursor: pointer;
    appearance: none;
    position: relative;
    background: #4b4b4b;
}
.keys-checkbox input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
    left: 35px;
    background: #fff;
}
.piano-keys {
    display: flex;
    list-style: none;
    margin-top: 40px;
}
.piano-keys .key{
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}
.piano-keys .black {
    z-index: 2;
    width: 44px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #a2a2a2;
    font-size: 1.13rem;
    text-align: center;
} 
.piano-keys .key.hide span {
    display: none;
}
.piano-keys .black span {
    bottom: 13px;
    color: #888888;
}
.key a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 815px) {
    .wrapper {
        padding: 25px;
    }
    header {
        flex-direction: column;
    }
    header :where(h2, .column) {
        margin-bottom: 13px;
    }
    .volume-slider input {
        max-width: 100px;
    }
    .piano-keys {
        margin-top: 20px;
    }
    .piano_keys .key:where(:nth-child(9), :nth-child(10)) {
        display: none;
    }
    .piano-keys .black {
        height: 100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }
    .piano-keys .white {
        height: 180px;
        width: 60px;
    }
}

@media screen and (max-width: 615px) {
    .piano-keys .key:nth-child(1),
    .piano-keys .key:nth-child(2),
    .piano-keys .key:nth-child(3),
    .piano-keys .key:nth-child(4),
    .piano-keys .key:nth-child(5) {
        display: none;
    }
    .piano-keys .white {
        width: 50px;
    }
}
