@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
body {
    font-family: 'Share Tech', serif;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('images/freepik__adjust__53822.png') no-repeat center center fixed;
  }
  .home {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .home:hover {
    background-color: #333;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(250px,1fr));
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 70%;
  }
  
  .project {
    background-color: #1e1e1e;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .project:hover {
    background-color: #3c3c3c;
    transform: translateY(-10px);
    transition-duration: 1s;
  }
  
  .project h3 {
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 0.9rem;
    line-height: 1;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .tags {
    margin-top: auto;
    font-size: 0.8rem;
    color: #a0a0a0;
    text-transform: uppercase;
  }

  .icons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
  }
  
  .icons i {
    cursor: pointer;
    color: #b9f4f3;
    transition: color 0.3s ease;
  }
  
  .icons i:hover {
    color: #ffffff;
  }

  @media (max-width: 780px) {
    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto minmax(300, 1fr);
        margin-top: 20px;
        padding-top: 80px;
    }
}
  